table {
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

.dead {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.alive {
  background-color: green;
  color: yellow;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.unknown {
  background-color: grey;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}
